<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  
  <appSettings>
    <add key="SqlConnectionString" value="Data Source=DONGTZ\SQLEXPRESS; Initial Catalog=JRTZ_ANA; User ID=super_user;Password=123.com;MultipleActiveResultSets=True" />

    <add key="mode" value="no_database"/>
    <!--<add key="mode" value="with_database"/>-->
    <add key="userdict_path" value="D:\\workingwc\\Stock\\AnalystReportAnalysis\\Demonstrate\\bin\\SecurityNameDic.txt"/>
    
    <add key="log_file_location" value="D:\\LogFile\\report\\3.log" />
  </appSettings>
</configuration>